
@import "../node_modules/@deidee/dejade/scss/dejade";

$code-background:          #2a2a2a;
$code-color:               deJade();
$code-color-fade:          #bebec5;
$code-text-shadow:         0 1px 0 #000;

$code-color-comment:        #6f705e;
$code-color-keyword:        deJade();
$code-color-value:          deJade();
$code-color-string:         deJade();
$code-color-name:           deJade();
$code-color-number:         deJade();
$code-color-variable:       #fff;
$code-color-selector:       deJade();

// From https://github.com/MoOx/sass-prism-theme-base
@import "prism";
